*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img{
    display: block;
}



.container{
    width: 1300px;
    margin: 0 auto;
    background-color: rgb(118, 75, 75);

}

.cards{
    background-color: white;
    display: flex;
    flex-wrap: wrap;

}

.col-4{
    width: calc(4 * 100% /12);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
   
}